legacy-peer-deps=true
node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
ignore-scripts=true
foreground-scripts=true
fund=false
audit=false
loglevel=error
package-lock=false
save-exact=true
progress=false
update-notifier=false
cache=false
prefer-offline=true
no-optional=true 